
div#page-container {
  //max-width: 920px;
  margin: 0 auto;
}

h1 {
  font-size: 200%;
  margin-top: 0.5em;
}

a {
  outline: none;
}

div.editor-container {
  width: 100%;
  height: 600px;
  margin: 0.5em 0;
  border: 1px solid black;
  clear: left;
}

nav#mango-demo-menu ul {
  margin: 0.5em 0;
  list-style-type: none;
}

nav#mango-demo-menu li {
  float: left;
  margin-right: 1em;
  border: 1px solid gray;
  min-width: 5em;
}

/**
 * Wide and narrow display
 */

body {
  background-color: yellow;

  div.editor-container {
    width: 49%;
  }

  div#mango-editor {
    float: left;
  }

  div#mango-output {
    float: right;
  }
}

//TODO @mark: update max-width cutoff
@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }

  div#page-container {
    padding-left: 2em;
  }
}

/**
 * Themes
 */
body {
  &.light-theme {
    background-color: #EEE;
    color: black;

    a {
      color: black;
    }

    div.editor-container {
      border-color: #DDD;
    }
  }

  &.dark-theme {
    background-color: #111;
    color: white;

    a {
      color: white;
    }

    div.editor-container {
      border-color: #222;
    }
  }
}
