
div#page-container {
  max-width: 920px;
  margin: 0 auto;
}

h1 {
  font-size: 200%;
  margin-top: 0.5em;
}

div.editor-container {
  width: 100%;
  height: 600px;
  margin: 0.5em 0;
  border: 1px solid #ccc;
  clear: left;
}

nav#mango-demo-menu ul {
  margin: 0.2em 0;
  list-style-type: none;
}

nav#mango-demo-menu li {
  float: left;
  text-align: center;
  margin-right: 1em;
  padding: 0.5em;
  border: 1px solid gray;
  min-width: 5em;
}
